.bar_wrap
  .inner
    .container#header_wrapper
      .container
        .page-heading
          %h1 Contact Us

#page
  #contact
    .container#sub_footer
      %h2 Thank you for your message.
      %hr
      .clearfix.span6
        %p
          We'll get back to you as soon as possible.

